# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle test coverage'
      'command': 'testcoverage:show'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Test coverage'
      'submenu': [
        {
          'label': 'show'
          'command': 'testcoverage:show'
        }
      ]
    ]
  }
]
